*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
body,html{
	width: 720px;
	margin: 0 auto;
	background: #ffffff;
}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 720px;
	height: 50px;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 4px;
	margin-left: 10px;
	width: 79px;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 18px;
}
header p{	
	font-size: 15px;
	height: 100%;
	padding-left: 35px;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 8px;
	line-height: 50px;
	background: url(../image/phone.png) no-repeat 0 center;
}
.banner{
	width: 720px;
	height: 588px;
	overflow: hidden;
	background: url(../image/banner.jpg) no-repeat center;
}
.main1{
  width: 700px;
  margin: 28px auto 0;
  overflow: hidden;
  background: #fff;
  margin: 28px auto 0;
  box-shadow: 0px 5px  10px 10px #ccc;
}
.cho_1{
  width: 700px;
  height: 74px;
  overflow: hidden;
  background: url(../image/main1_t.png) no-repeat center;
}
.cho_1 p{
  font-size: 29px;
  font-weight: bold;
  color: #fff;
  height: 70px;
  float: left;
  margin-top: 4px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  width: 175px
}
.cho_1 p.on1{
  color: #0088ff;
  background: #fff;
}
.cho_2{
  width: 698px;
  overflow: hidden;
  margin-top: 6px;
  margin-left: 2px;
}
.cho_2 > p{
  width: 190px;
  height: 48px;
  border: 1px solid #0084ff;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  color: #0084ff;
  background: #d2eaff;
  float: left;
  margin-top: 20px;
  margin-left: 31px;
  cursor: pointer;
}
.cho_2 > p.wo_sm{
	font-size: 22px;
}
.cho_2 > p.on2{
  background: #0088ff;
  color: #fff
}
.cho_3{
  margin-top: 30px;
  overflow: hidden;
  float: left;
  margin-left: 16px;
}
.cho_3 > div{
  width: 664px;
  height:139px;
  border-top: 1px solid #dddddd;
  overflow: hidden;
}
.cho_3 > div:nth-child(1){
  border-top: 1px solid #0084ff;
}
.cho_3 > div .zuo{
  width: 515px;
  float: left;
  height: 100%;
  padding-left: 15px;
}
.cho_3 > div .zuo a.kecheng{
  font-size: 25px;
  display: block;
  margin-top: 39px;
  line-height: 25px;
  color: #000
}
.cho_3 > div .zuo a.kecheng:hover{
  color: #0088ff;
  text-decoration: underline;
}
.cho_3 > div .zuo .keshi{
  overflow: hidden;
  margin-top: 18px;
}
.cho_3 > div .zuo .keshi p{
  float: left;
  font-size: 19px;
  color: #000;
  margin-left: 35px;
}
.cho_3 > div .you{
  width: 134px;
  height: 100%;
  float: right;
  overflow: hidden;
}
.cho_3 > div .you a{
    width: 134px;
    height: 42px;
    display: block;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    color: #fff
}
.cho_3 > div .you a.a1{
    background: #29a372;
}
.cho_3 > div .you a.a2{
    background: #e86c11;
}
.cho_3 > div .you a:hover{
    text-decoration: underline;
}
.main2{
	width: 700px;
	height: 590px;
	margin: 50px auto 0;
	box-shadow: 0px 10px  50px 10px #ccc;
}
.main2 h1{
	font-size: 34px;
	text-align: center;
	line-height: 54px;
	height: 54px;
	color: #fff;
	background: url(../image/main2_t.png) no-repeat center;
}
.m2_c{
	width: 700px;
	height: 536px;
	position: relative;
	background: url(../image/main2_c.png) no-repeat 0 40px;
}
.m2_c p{
	font-size: 24px;
	color: #333;
	position: absolute;
	text-align: center;
}
.m2_c p:nth-child(1){
	left: 35px;
	top: 149px;
	line-height: 24px;
}
.m2_c p:nth-child(2){
	left: 393px;
	top: 125px;
	line-height: 35px;
}
.m2_c p:nth-child(3){
	left: 12px;
	top: 396px;
	line-height: 24px;
}
.m2_c p:nth-child(4){
	left: 380px;
	top: 375px;
	line-height: 35px;
}
.main3_bg{
	width: 720px;
	height: 735px;
	background: #7459df;
	overflow: hidden;
	margin-top: 50px
}
.main3{
	width: 700px;
	height: 616px;
	margin: 58px auto 0;
	position: relative;
	background: #fff;
}
.main3 h1{
	font-size: 34px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	color: #fff;
	background: #ab96ff;
}
.m3_c{
	width: 100%;
	height: 562px;
	position: relative;
	background: url(../image/main3_bg.png) no-repeat 20px 35px;
}
.m3_c p{
	font-size: 26px;
	position: absolute;
	color: #333
}
.m3_c p:nth-child(1){
	left: 35px;
	top: 230px;
}
.m3_c p:nth-child(2){
	left: 270px;
	top: 230px;
}
.m3_c p:nth-child(3){
	left: 508px;
	top: 230px;
}
.m3_c p:nth-child(4){
	left: 28px;
	top: 490px;
}
.m3_c p:nth-child(5){
	left: 297px;
	top: 490px;
}
.m3_c p:nth-child(6){
	left: 474px;
	top: 490px;
}
.main4{
	width: 700px;
	height: 620px;
	margin: 50px auto 0;
	box-shadow: 0px 10px  50px 10px #ccc;
}
.main4 h1{
	font-size: 32px;
	line-height: 53px;
	height: 53px;
	text-align: center;
	color: #fff;
	background: url(../image/main4_t.png) no-repeat center;
}
.main4 img{
	display: block;
	margin-top: 63px;
}
.main5{
	width: 700px;
	height: 300px;
	margin: 50px auto 0;
	box-shadow: 0px 10px  50px 10px #ccc;
	overflow: hidden;
}
.main5 img{
	display: block;
	margin-top: 36px;
}
.ff{
	height: 107px;
}
.zixun{
	position: fixed;
	top: 50%;
	right: 2px;
}
.zixun a{
	display: inline-block;
	width: 94px;
	height: 94px;
	border-radius: 50%
}
.zixun img{
	width: 94px;
}






















.foot{
	width: 720px;
	height: 68px;
	background: #1b1b1b;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	z-index: 99999;
}
.foot .tel{
	float: left;
	font-size: 24px;
	height: 100%;
	line-height: 68px;
	margin-left: 40px;
	color: #fff;
}
.foot .tel span{
	color: #e60012;
}
.foot .QQ_ask{
	float: right;
	height: 68px;
	line-height: 68px;
	color: #fff;
	font-size: 24px;
	margin-right: 40px;
}
.bdsharebuttonbox{
	overflow: hidden;
	float: right;
	width: 100px!important;
	height: 68px!important;
	
}
.bdsharebuttonbox > a{
	font-size: 24px!important;
	color: #fff!important;
	width: 55px!important;
	height: 68px!important;
	display: block!important;
	line-height: 68px!important;
	padding: 0!important;

}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: none!important;
}