*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
body{background: #eff1f0;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 18.0rem;
	height: 1.25rem;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.25rem;
	width: 1.975rem;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	font-size: 0.45rem;
	font-weight: bold;
}
header p{	
	font-size: 0.45rem;
	height: 100%;
	padding-left: 0.875rem;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 0.2rem;
	line-height: 1.25rem;
	background: url(../image/phone.png) no-repeat 0 center;
	background-size: 0.55rem 0.65rem;
	padding-top: 0.125rem
}
.banner{
	width: 18.0rem;
	height: 14.7rem;
	overflow: hidden;
	background: url(../image/banner.jpg) no-repeat center;
	background-size: 18.0rem 14.7rem
}
.main1{
  width: 17.5rem;
  margin: 0.7rem auto 0;
  overflow: hidden;
  background: #fff;
  margin: 0.7rem auto 0;
  box-shadow: 0px 0.125rem  0.25rem 0.25rem #ccc;
}
.cho_1{
  width: 17.5rem;
  height: 1.85rem;
  overflow: hidden;
  background: url(../image/main1_t.png) no-repeat center;
  background-size: 17.5rem 1.85rem
}
.cho_1 p{
  font-size: 0.725rem;
  font-weight: bold;
  color: #fff;
  height: 1.75rem;
  float: left;
  margin-top: 0.1rem;
  line-height: 1.75rem;
  text-align: center;
  cursor: pointer;
  width: 4.375rem
}
.cho_1 p.on1{
  color: #0088ff;
  background: #fff;
}
.cho_2{
  width: 17.45rem;
  overflow: hidden;
  margin-top: 0.15rem;
  margin-left: 0.05rem;
}
.cho_2 > p{
  width: 4.75rem;
  height: 1.2rem;
  border: 0.025rem solid #0084ff;
  font-size: 0.6rem;
  text-align: center;
  line-height: 1.2rem;
  color: #0084ff;
  background: #d2eaff;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.775rem;
  cursor: pointer;
}
.cho_2 > p.wo_sm{
	font-size: 0.55rem;
}
.cho_2 > p.on2{
  background: #0088ff;
  color: #fff
}
.cho_3{
  margin-top: 0.75rem;
  overflow: hidden;
  float: left;
  margin-left: 0.4rem;
}
.cho_3 > div{
  width: 16.6rem;
  height:3.475rem;
  border-top: 1px solid #dddddd;
  overflow: hidden;
}
.cho_3 > div:nth-child(1){
  border-top: 1px solid #0084ff;
}
.cho_3 > div .zuo{
  width: 12.875rem;
  float: left;
  height: 100%;
  padding-left: 0.375rem;
}
.cho_3 > div .zuo a.kecheng{
  font-size: 0.625rem;
  display: block;
  margin-top: 0.975rem;
  line-height: 0.625rem;
  color: #000
}
.cho_3 > div .zuo a.kecheng:hover{
  color: #0088ff;
  text-decoration: underline;
}
.cho_3 > div .zuo .keshi{
  overflow: hidden;
  margin-top: 0.45rem;
}
.cho_3 > div .zuo .keshi p{
  float: left;
  font-size: 0.475rem;
  color: #000;
  margin-left: 0.875rem;
}
.cho_3 > div .you{
  width: 3.35rem;
  height: 100%;
  float: right;
  overflow: hidden;
}
.cho_3 > div .you a{
    width: 3.35rem;
    height: 1.05rem;
    display: block;
    margin-top: 0.5rem;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.05rem;
    color: #fff
}
.cho_3 > div .you a.a1{
    background: #29a372;
}
.cho_3 > div .you a.a2{
    background: #e86c11;
}
.cho_3 > div .you a:hover{
    text-decoration: underline;
}
.main2{
	width: 17.5rem;
	height: 14.75rem;
	margin: 1.25rem auto 0;
	 box-shadow: 0px 0.125rem  0.25rem 0.25rem #ccc;
	 background: #fff;
}
.main2 h1{
	font-size: 0.85rem;
	text-align: center;
	line-height: 1.35rem;
	height: 1.35rem;
	color: #fff;
	background: url(../image/main2_t.png) no-repeat center;
	background-size: 17.5rem 1.35rem
}
.m2_c{
	width: 17.5rem;
	height: 13.4rem;
	position: relative;
	background: url(../image/main2_c.png) no-repeat 0 1.0rem;
	background-size: 17.8rem 11.375rem
}
.m2_c p{
	font-size: 0.6rem;
	color: #333;
	position: absolute;
	text-align: center;
}
.m2_c p:nth-child(1){
	left: 0.875rem;
	top: 3.725rem;
	line-height: 0.6rem;
}
.m2_c p:nth-child(2){
	left: 9.825rem;
	top: 3.125rem;
	line-height: 0.875rem;
}
.m2_c p:nth-child(3){
	left: 0.3rem;
	top: 9.9rem;
	line-height: 0.6rem;
}
.m2_c p:nth-child(4){
	left: 9.5rem;
	top: 9.375rem;
	line-height: 0.875rem;
}
.main3_bg{
	width: 18.0rem;
	height: 18.375rem;
	background: #7459df;
	overflow: hidden;
	margin-top: 1.25rem
}
.main3{
	width: 17.5rem;
	height: 15.4rem;
	margin: 1.45rem auto 0;
	position: relative;
	background: #fff;
}
.main3 h1{
	font-size: 0.85rem;
	height: 1.35rem;
	line-height: 1.35rem;
	text-align: center;
	color: #fff;
	background: #ab96ff;
}
.m3_c{
	width: 100%;
	height: 14.05rem;
	position: relative;
	background: url(../image/main3_bg.png) no-repeat 0.5rem 0.875rem;
	background-size: 16.45rem 11.1rem
}
.m3_c p{
	font-size: 0.65rem;
	position: absolute;
	color: #333
}
.m3_c p:nth-child(1){
	left: 0.875rem;
	top: 5.75rem;
}
.m3_c p:nth-child(2){
	left: 6.75rem;
	top: 5.75rem;
}
.m3_c p:nth-child(3){
	left: 12.7rem;
	top: 5.75rem;
}
.m3_c p:nth-child(4){
	left: 0.7rem;
	top: 12.25rem;
}
.m3_c p:nth-child(5){
	left: 7.425rem;
	top: 12.25rem;
}
.m3_c p:nth-child(6){
	left: 11.85rem;
	top: 12.25rem;
}
.main4{
	width: 17.5rem;
	height: 15.5rem;
	margin: 1.25rem auto 0;
	 box-shadow: 0px 0.125rem  0.25rem 0.25rem #ccc;
}
.main4 h1{
	font-size: 0.8rem;
	line-height: 1.325rem;
	height: 1.325rem;
	text-align: center;
	color: #fff;
	background: url(../image/main4_t.png) no-repeat center;
	background-size: 17.5rem 1.325rem
}
.main4 img{
	display: block;
	margin-top: 1.575rem;
	width: 17.475rem
}
.main5{
	width: 17.5rem;
	height: 7.5rem;
	margin: 1.25rem auto 0;
	box-shadow: 0px 0.125rem  0.25rem 0.25rem #ccc;
	overflow: hidden;
}
.main5 img{
	display: block;
	margin-top: 0.9rem;
	width: 17.5rem
}
.ff{
	height: 2.675rem;
}
.zixun{
	position: fixed;
	top: 50%;
	right: 2px;
}
.zixun a{
	display: inline-block;
	width: 2.35rem;
	height: 2.35rem;
	border-radius: 50%
}
.zixun img{
	width: 2.35rem;
}








.foot{
	width: 18.0rem;
	height: 1.7rem;
	background: #1b1b1b;
	position: fixed;
	bottom: 0;
	z-index: 9999999999;
}
.foot .tel{
	float: left;
	font-size: 0.6rem;
	height: 100%;
	line-height: 1.7rem;
	margin-left: 1.0rem;
	color: #fff;
}
.foot .tel span{
	color: #e60012;
}
.foot .QQ_ask{
	float: right;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #fff;
	font-size: 0.6rem;
	margin-right: 1.0rem;
}
.bdsharebuttonbox{
	overflow: hidden;
	float: right;
	width: 2.5rem!important;
	height: 1.7rem!important;
	
}
.bdsharebuttonbox > a{
	font-size: 0.6rem!important;
	color: #fff!important;
	width: 1.375rem!important;
	height: 1.7rem!important;
	display: block!important;
	line-height: 1.7rem!important;
	padding: 0!important;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: none!important;
}